{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/audio_test/player.css' %}">
{% endblock %}

{% block sub_title %}
Тест на аудиофила
{% endblock %}

{% block content%}
    {% csrf_token %}
    <a href="{% url 'add_audio' %}">Добавить аудио</a>
Описание теста
{% endblock %}

{% block new_card %}
{% for song in songs %}
<div class="card mb-3">
    <div class="card-header">
           Трек {{ forloop.counter }}/{{ songs.count}}:
        <span style="font-weight:bold"> {{song.author}} - {{song.title}} </span>
    </div>
    <div class="card-body">
        <div class="media">
            <div class="col-md-4 col-sm-5">
                <img class="img-fluid img-left" src="{{ song.photo.url }}" alt="Dnl">
            </div>
            <div class="media-body">

                 <div class="song">
                    <div class="player">
                        <audio>
                            <source src="{{ song.uncompressed_audio.url }}" type="audio/mp3">
                        </audio>
                        <button class="btn btn-secondary vote {{ song.id }}" song_id='{{ song.id }}' answer = 'wav' tip="Несжатое">Выбрать1</button>
                    </div>
                    <div class="player">
                        <audio src="{{ song.mp3_320.url }}"></audio>
                        <button class="btn btn-secondary vote {{ song.id }}" song_id='{{ song.id }}' answer = '320' tip='mp3 320k'>Выбрать2</button>
                    </div>

                    <div class="player">
                        <audio src="{{ song.mp3_128.url }}"></audio>
                        <button class="btn btn-secondary vote {{ song.id }}" song_id="{{ song.id }}" answer = '128' tip='mp3 128k'>Выбрать3</button>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
{% endfor %}

<script src="{% static 'js/audio_test/player.js' %}"></script>
<script src="{% static 'js/audio_test/control_audio.js' %}"></script>
<script src="{% static 'js/audio_test/shuffle_audio.js' %}"></script>
<script src="{% static 'js/audio_test/buttons_click_events.js' %}"></script>


{% endblock %}