{% extends 'base.html' %}

{% block sub_title %}
    Для расшифровки записки требуется пароль
{% endblock %}

{% block content %}

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <input type="password" autocomplete="new-password" id="confirm_password" class="form-control"
                   aria-describedby="passwordHelpBlock" name='second_password' placeholder="Введите пароль">
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary mt-3">Открыть записку</button>

    </form>


{% endblock %}